<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1>please login to access</h1>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Login">
    </form>

        <button class="btn-2 btn-small button badge badge-pill"><a href="/register">Register</a></button>

    


    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>