<!-- views/partials/footer.ejs -->
<footer class="footer">
    <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color:whitesmoke;
           color: black;
           text-align: center;
        }
        </style>
    <p>© 2020 xyzLabs</p>
</footer>