<!-- views/partials/footer.ejs -->
<footer class="footer">
    <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color:whitesmoke;
           color: black;
           text-align: center;
        }
        </style>
        <script>
            $(document).ready(function(){
              $("#myBtn").click(function(){
                $("#myModal").modal();
              });
            });
            </script>
    <p><link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        © 2020 &nbsp | &nbsp Made with <i class="icon ion-heart"></i> &nbsp <a href="https://github.com/lizkane222">Liz Kane</a>,&nbsp <a href="https://github.com/jrandersen">Jason Andersen</an</p>