<!-- views/partials/footer.ejs -->
<footer class="footer">
    <style>
        :root {
            --background-color-default: #D65B4D;
            --background-color-active: #BD1F0D;
            --background-color-inactive: #7C140A;
            --text-color-active:#3D0705;
            --text-color-inactive: #5C1714;
            } 

        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           height: 3vh;
           width: 100%;
           background-color:var(--background-color-default);
           color: var(--text-color-inactive);
           text-align: center;
        }
        </style>
        <script>
            $(document).ready(function(){
              $("#myBtn").click(function(){
                $("#myModal").modal();
              });
            });
            </script>
    <p><link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        © 2020 &nbsp | &nbsp Made with <i class="icon ion-heart"></i> &nbsp <a href="https://github.com/lizkane222">Liz Kane</a>,&nbsp <a href="https://github.com/jrandersen">Jason Andersen</an</p>