<!-- views/partials/footer.ejs -->
<footer class="footer">
    <style>
        /* :root {
            --background-color-default: #D65B4D;
            --background-color-active: #BD1F0D;
            --background-color-inactive: #7C140A;
            --text-color-active:#3D0705;
            --text-color-inactive: #5C1714;
            }  */
            :root {
                --background-color-default: #3C9953;
                --background-color-inactive: #79ca8e;
                --background-color-inactive-dark: #006F75;
                --background-color-active: #438E60;
                --background-color-active-dark: #5c1109;
                --text-color-active:#43C460;
                --text-color-inactive: #015242;
                --slider-dark:#010d42;
                --saver: #55D975;
                --light-text: #61F8B0;
                --second-text: #757D9D;
                --d-bkg-1: #3C9953;
                --white:#AAE3B2;
                --shadow: #253A2B;
            } 

        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           height: 3vh;
           width: 100%;
           background-color:var(--background-color-active);
           color: var(--text-color-inactive);
           text-align: center;
        }
        </style>
        <script>
            $(document).ready(function(){
              $("#myBtn").click(function(){
                $("#myModal").modal();
              });
            });


            $("#feed").on("click", function() {
                console.log('feed WAS CLICKED');
                window.location.href="/";
            })

            $("#recipe").on("click", function() {
                console.log('recipe WAS CLICKED');
                window.location.href="/recipe/new";
            })

            $("#pantry").on("click", function() {
                console.log('pantry WAS CLICKED');
                window.location.href="/users/pantry";
            })

            $("#nosh").on("click", function() {
                console.log('nosh WAS CLICKED');
                window.location.href="/users";
            })

            $("#login").on("click", function() {
                console.log('login WAS CLICKED');
                window.location.href="";
            })



        </script>

    <p><link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        © 2020 &nbsp | &nbsp Made with <i class="icon ion-heart"></i> &nbsp <a href="https://github.com/lizkane222">Liz Kane</a>,&nbsp <a href="https://github.com/jrandersen">Jason Andersen</a></p>
          
               
      
                  
      
      
      
      
      
      
      
      
