<!-- views/partials/footer.ejs -->
<footer class="footer">
    <style>
        :root {
            --background-color-default: #D65B4D;
            --background-color-active: #BD1F0D;
            --background-color-inactive: #7C140A;
            --text-color-active:#3D0705;
            --text-color-inactive: #5C1714;
            } 

        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           height: 3vh;
           width: 100%;
           background-color:var(--background-color-default);
           color: var(--text-color-inactive);
           text-align: center;
        }
        </style>
        <script>
            $(document).ready(function(){
              $("#myBtn").click(function(){
                $("#myModal").modal();
              });
            });


            $("#feed").on("click", function() {
                console.log('feed WAS CLICKED');
                window.location.href="/";
            })

            $("#recipe").on("click", function() {
                console.log('recipe WAS CLICKED');
                window.location.href="/recipe/new";
            })

            $("#pantry").on("click", function() {
                console.log('pantry WAS CLICKED');
                window.location.href="/users/pantry";
            })

            $("#nosh").on("click", function() {
                console.log('nosh WAS CLICKED');
                window.location.href="/users";
            })

            $("#login").on("click", function() {
                console.log('login WAS CLICKED');
                window.location.href="";
            })

            $("#frame-rec").on('click', function(){
                $(".left-form").hide()
            })


        </script>

    <p><link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        © 2020 &nbsp | &nbsp Made with <i class="icon ion-heart"></i> &nbsp <a href="https://github.com/lizkane222">Liz Kane</a>,&nbsp <a href="https://github.com/jrandersen">Jason Andersen</a></p>
          
               
      
                  
      
      
      
      
      
      
      
      
