
<!-- views/partials/headerejs -->
<div class="header clearfix">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nosh</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            body {
               background-color:whitesmoke;
               color: black;
               margin: 20px;
            }
            ul.nav li a, ul.nav li a:visited {
                color: black !important;
            }
            ul.nav li a:hover, ul.nav li a:active {
                color: red !important;
            }
        </style>
    </head> 
    <nav class="navbar navbar-light bg-light justify-content-between>
        <a class="navbar-brand"></a>
        <form class="form-inline">
                <h4>
                    <a class="nav-item nav-link" href="/">nosh</a> &nbsp;
                    <a class="nav-item nav-link" href="/recipe/newForm">recipe</a> &nbsp;
                    <a class="nav-item nav-link" href="/users/newPantry">pantry</a> &nbsp;
                    <a class="nav-item nav-link" href="/users">user</a> &nbsp;
                    <a class="nav-item nav-link" href="/login">login</a> &nbsp;
                    <a class="nav-item nav-link" href="/register">register</a> &nbsp;
                </h4>
            </form>
      </nav>
</div