
<!-- views/partials/headerejs -->
<div class="header clearfix">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nosh</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            }
            
            :root {
                --background-color-default: #D65B4D;
                --background-color-active: #BD1F0D;
                --background-color-inactive: #7C140A;
                --text-color-active:#3D0705;
                --text-color-inactive: #5C1714;
                --slider-dark: #3D0622;
                --saver: #CC4E00;
            } 

            body {
               background-color:var(--background-color-default);
               color: var(--text-color-active);
               margin: 20px;
               width: 100vw;
               height: 100vh;
            }

            ul.nav li a, ul.nav li a:visited {
                background-color: var(--background-color-inactive);
                color: var(--text-color-inactive) !important;
                border: 3px solid var(--text-color-inactive);
            }

            ul.nav li a:hover, ul.nav li a:active {
                background-color: var(--background-color-default);
                color: var(--text-color-active) !important;
                border: 3px solid var(--text-color-active);
                border-radius: 50px;
            }

            .nav-item {
                font-size: 35px;
                background-color: var(--background-color-default);
                color: var(--text-color-inactive) !important;
                border: 3px solid var(--text-color-inactive); 
                border-radius: 50px;
                padding: 15px;
                padding-left: 70px;
                transition: 300ms;
                margin-left: -75px;
                position: relative;
            }

            .nav-item:hover {
                font-size: 35px;
                background-color: var(--background-color-default);
                color: var(--text-color-active) !important;
                border: 3px solid var(--text-color-active);
                border-radius: 50px;
            }

            .nav-item:active {
                font-size: 35px;
                background-color: var(--background-color-active);
                color: var(--text-color-active) !important;
                border: 3px solid var(--text-color-active); 
                border-radius: 50px;
            }

            .nosh {
                z-index: 6;
                margin-left: 30px;
                position: absolute;
            }
            .recipe {
                z-index: 5;
                position: relative;
                margin-left: 130px;
            }
            .pantry {
                z-index: 4;
                position: relative;
            }
            .login {
                z-index: 3;
            }
            .register {
                z-index: 2;
            }

            /* buttons should have class="button badge badge-pill" */
            .button.badge.badge-pill {
                background-color: var(--text-color-active);
                color: var(--background-color-default);
                padding: 10px 20px;
                border: 3px solid var(--text-color-active);
                border-radius: 50px;
            }
            
            .top-section {
                width: 100vw;
                height: 12vh;
            }

            #main-index {
                width: 100vw;
                height: 85vh;
                overflow: scroll;
            }

            #save {
                background-color: var(--text-color-active);
                border-radius: 100%;
                padding: 15px 10px;
                color: var(--background-color-default);
                position: relative;
                
            }
            
            .container {
                margin-bottom: 20px;
                background-color: blue;
            
            /* width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column; */
            }
            .single-content {
                position: relative;
                transition: .5s;
                box-shadow: 10px 20px 20px rgba(0,0,0,.8);
            }

            .single-content .text-content,
            .single-content:after{
                position:absolute;
                left:20px;
                right: 20px;
            }

            .single-content:after {
                content: '';
                display: block;
                background: crimson;
                top: 20px;
                bottom: 20px;
                opacity: 0;
                transform: rotate3d(-1,1,0,100deg);
                transition: .6s;
            }

            .single-content:hover:after{
                opacity: .9;
                transform: rotate3d(0,0,0,0deg);
            }

            .single-content img{
                z-index: 100;
                width: 100%;
                height: 100%px;
                background-image: url(recipe.imageSource);
                background-size: 100% 100%;
            }

            .text-content{
                top: 45%;
                opacity: 0;
                z-index: 1;
                transform: translate(10%, -30%);
                transition: .4s;
                text-align: left;
                color: #fff;
            }

            .text-content h4{
                font-family: big john;
            }

            .single-content:hover .text-content{
                opacity: 1;
                transform: translate(0, -50%);
                transition-delay: .3s;
                margin-left: 20px;

            }





















        </style>
    </head> 
    <nav class="navbar navbar-light bg-light justify-content-between>
        <a class="navbar-brand"></a>
        <form class="form-inline">
                <h4>
                    <a class="nosh nav-item nav-link badge badge-pill" href="/">nosh</a> &nbsp;
                    <a class="recipe nav-item nav-link badge badge-pill" href="/recipe">recipe</a> &nbsp;
                    <!-- <a class="nav-item nav-link badge badge-pill" href="/recipe/new">new recipe</a> &nbsp; -->
                    <a class="pantry nav-item nav-link badge badge-pill" href="/users/pantry">pantry</a> &nbsp;
                    <!-- <a class="nav-item nav-link badge badge-pill" href="/users">user</a> &nbsp; -->
                    <a class="login nav-item nav-link badge badge-pill" href="/login">login</a> &nbsp;
                    <a class="register nav-item nav-link badge badge-pill" href="/register">register</a> &nbsp;
                </h4>
            </form>
      </nav>
</div