
<!-- views/partials/headerejs -->
<div class="header clearfix">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nosh</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            }
            
            :root {

                --background-color-default: #D65B4D;
                --background-color-active: #BD1F0D;
                --background-color-inactive: #7C140A;
                --text-color-active:#3D0705;
                --text-color-inactive: #5C1714;
                --slider-dark: #3D0622;
                --saver: #CC4E00;
            } 


            body {
               background-color:var(--background-color-default);
               color: var(--text-color-active);
               margin: 20px;
               width: 100vw;
               height: 100vh;
            }

            ul.nav li a, ul.nav li a:visited {
                background-color: var(--background-color-inactive);
                color: var(--text-color-inactive) !important;
                border: 3px solid var(--text-color-inactive);
            }

            ul.nav li a:hover, ul.nav li a:active {
                background-color: var(--background-color-default);
                color: var(--text-color-active) !important;
                border: 3px solid var(--text-color-active);
                border-radius: 50px;
            }

            .nav-item {
                font-size: 35px;
                background-color: var(--background-color-default);
                color: var(--text-color-inactive) !important;
                border: 3px solid var(--text-color-inactive); 
                border-radius: 50px;
                padding: 15px;
                padding-left: 70px;
                transition: 300ms;
                margin-left: -75px;
                position: relative;

            }

            .nav-item:hover {
                font-size: 35px;
                background-color: var(--background-color-default);
                color: var(--text-color-active) !important;
                border: 3px solid var(--text-color-active);
                border-radius: 50px;
            }

            .nav-item:active {
                font-size: 35px;
                background-color: var(--background-color-active);
                color: var(--text-color-active) !important;
                border: 3px solid var(--text-color-active); 
                border-radius: 50px;

            }

            .nosh {
                z-index: 6;
                margin-left: 30px;
                position: absolute;
            }
            .recipe {
                z-index: 5;
                position: relative;
                margin-left: 130px;
            }
            .pantry {
                z-index: 4;
                position: relative;
            }
            .login {
                z-index: 3;
            }
            .register {
                z-index: 2;
            }

            /*This is a button class we could add if we like the blue border to a button when it doesn't travel anywhere (i.e. SAVE) class="btn btn-primary" data-toggle="button" aria-pressed="false"  */
            /* buttons should have class="button badge badge-pill" */
            .button.badge.badge-pill {
                background-color: var(--text-color-active);
                color: var(--background-color-default);
                padding: 10px 20px;
                border: 3px solid var(--text-color-active);
                border-radius: 50px;
            }
            
            .top-section {
                width: 100vw;
                height: 12vh;
            }

/*             GRID AREA
            #grid-one {
                display: grid;
                grid-template-columns: repeat(5,20%);
                grid-
            } */


/* 
$bg-color: #E6E5E1;
$shdow-gray: #d3d3d5;
$orange: #DA4D1D;
$blue: #2b26c3;
$img-url: "https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80";
$img-url2: "https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80";
 */

            #main-index {
                width: 100vw;
                height: 85vh;
                overflow: scroll;
            }


            #save {
                background-color: var(--text-color-active);
                border-radius: 100%;
                padding: 15px 10px;
                color: var(--background-color-default);
                
            }
            

            i {
            opacity: 0;
            font-size: 18px;
            color: #fff;
            will-change: transform;
            -webkit-transform: scale(0.1);
            transform: scale(0.1);
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            }

            h3{
            pointer-events:none;
            }

            .container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
            .container.card {
                position: relative;
                width: 500px;
                height: 200px;
                background-image: url( recipe.imageSource );
                background-color: var(--background-color-inactive);
                overflow: hidden;
                margin-bottom: 4px;
            }
            .container.card:before {
                content: "";
                z-index: 99;
                position: absolute;
                top: -10px;
                left: 32px;
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background-color: var(--background-color-inactive);
            }
            .container.card:after {
                content: "";
                z-index: 99;
                position: absolute;
                bottom: -10px;
                left: 32px;
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background-color: var(--background-color-active);
            }
            .container.card:after ul {
                z-index: 99;
                position: absolute;
                left: 39px;
                top: 5px;
                list-style-type: none;
            }
            .container.card:after li {
                    width: 2px;
                    height: 2px;
                    border-radius: 2px;
                    margin: 6px 0;
                    background-color: ghostwhite;
            }
            h3 {
                z-index: 99;
                font-family: "Poppins", sans-serif;
                position: absolute;
                bottom: 0;
                right: 130px;
                font-size: 60px;
                font-weight: 700;
                color: #fff;
            }

            /* .fa-arrow-right {
                z-index: 100;
                position: absolute;
                right: 75px;
                bottom: 25px;
                font-size: 40px;
                cursor: pointer;
            } */
            p {
                z-index: 99;
                position: absolute;
                top: 20px;
                right: 70px;
                color: var(--background-color-inactive);
                opacity: 0.7;
                font-size: 12px;
                letter-spacing: 1px;
                writing-mode: vertical-lr;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            .pic {
                z-index: 100;
                width: 400px;
                height: 200px;
                background-image: url(recipe.imageSource);
                background-size: 100% 100%;
                filter: grayscale(100%);
            }

            /* .social {
                position: absolute;
                left: 60px;
                top: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 180px;
                height: 64px;
                border-radius: 80px;
            } */

            /* .social i:nth-of-type(1) {
                -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s;
            }

            .social i:nth-of-type(2) {
                -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
            }

            .social i:nth-of-type(3) {
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }

            .social i:nth-of-type(4) {
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }

            .social:hover i {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            } */

            button {
                position: absolute;
                right: 14px;
                bottom: 14px;
                width: 30px;
                height: 30px;
                background-color: var(--slider-dark);
                border: none;
                border-radius: 30px;
                cursor: pointer;
                outline:none;
                transition: all 0.3s ease;
                mix-blend-mode: hard-light;
            }

            /* i {
                    font-size: 3rem;
            }

            i:hover button {
                transform: scale(16.5);
            }

            i:hover p {
                color: #fff;
            }
                
            i:hover .pic {
                filter: grayscale(0);
                
            } */
            
            
            




















        </style>
    </head> 
    <nav class="navbar navbar-light bg-light justify-content-between>
        <a class="navbar-brand"></a>
        <form class="form-inline">
                <h4>
                    <a class="nosh nav-item nav-link badge badge-pill" href="/">nosh</a> &nbsp;
                    <a class="recipe nav-item nav-link badge badge-pill" href="/recipe">recipe</a> &nbsp;
                    <!-- <a class="nav-item nav-link badge badge-pill" href="/recipe/new">new recipe</a> &nbsp; -->
                    <a class="pantry nav-item nav-link badge badge-pill" href="/users/pantry">pantry</a> &nbsp;
                    <!-- <a class="nav-item nav-link badge badge-pill" href="/users">user</a> &nbsp; -->
                    <a class="login nav-item nav-link badge badge-pill" href="/login">login</a> &nbsp;
                    <a class="register nav-item nav-link badge badge-pill" href="/register">register</a> &nbsp;
                </h4>
            </form>
      </nav>
</div