<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>Index</h1>



    <!-- for now some login and logout buttons here -->
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>