<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>Index</h1>
    <p> All recipe cards go in this page </p>

    <!-- for now some login and logout buttons here -->
    <% if(user) { %>
        <p>Welcome, <%= user.username %></p>
        <form action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="Logout">
        </form>
      <% } else { %> 
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
  
      <br/><br/><br/><br/>

      <p><a href="/recipe/:id">Artichoke Dip</a></p>
      <p><a href="/recipe/:id">Chicken Salad</a></p>
      <p><a href="/recipe/:id">Frito Pie</a></p>

      <br/><br/>






       __________________________________________________
       <div>
      |  <h5>| RECIPE NAME</h5>
      |  <p>| RECIPE IMAGE</p><img src="#" alt="/recipe/:id">
      |<p><a href="/recipe/:id">| jump to recipe</a></p>   
      |</div>                                            
      |__________________________________________________


<!-- 
      FOR USER MODEL USE:
      <p><a href="">/recipe/show.ejs</a> TO SHOW ONE RECIPE</p>
      


      FOR RECIPE MODEL USE:
      <p><a href="">/show.ejs</a> TO SHOW ONE RECIPE</p> -->



      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>