<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>Index</h1>



    <!-- for now some login and logout buttons here -->
    <% if(user) { %>
        <p>Welcome, <%= user.username %></p>
        <form action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="Logout">
        </form>
      <% } else { %> 
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
      <!-- development link only, take out after working -->
      <ul>
        <li>
          <a href="/users">jump to users</a>
        </li>
      </ul>

      <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>