<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1>New Pantry Item</h1>
    <section class="new__pantry">
        <form action="/user" method="POST">
          <input type="text" name="foodItem" placeholder="New Food Item" />
          <input type="text" name="quantity" placeholder="Quantity, - (number)" />
          <input type="text" name="unit" placeholder="Unit - (lbs, cups, etc)" />
          <input id="button" type="submit" value="New Food Item"/>
        </form>
    </section>
    <footer>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html> -->