<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <h1>New Pantry Item</h1>
    <div class="constrain-food">
        <section class="new__pantry pantry-i">
            <form action="/user" method="POST">
            <input class="pantryi" type="text" name="foodItem" placeholder="New Food Item" />
            <input class="pantryi" type="text" name="quantity" placeholder="Quantity, - (number)" />
            <input class="pantryi" type="text" name="unit" placeholder="Unit - (lbs, cups, etc)" />
            <input class="pantryi" type="submit" value="New Food Item"/>
            </form>
        </section>
    </div>



    
    <footer>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>