<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
  
  <section>
    <h2>Edit Your Recipe </h2>
    <form action="" method="POST">
    
    <p>Recipe: <input type="text" name="recipeName" value="<%= recipe.recipeName %>"/></p>

      </form>
          
        <br><br>
        <input type="submit" value="Create Recipe"/>
      </form>
  </section>
</body>
<%- include('../partials/footer') %>
</html>