<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>

<h1>ALL RECIPES (FUTURE USER PAGE)</h1>


        <ul>
        <% recipes.forEach(recipe => { %>
          <li>
              <a href="/<%= recipe._id %>"><%= recipe.recipeName %></a>
          </li>
        </ul>
    
      <% }); %>



      
        <br/>
    <p><a href="/recipe/new">Create A New Recipe</a></p>

</body>
<%- include('../partials/footer') %>
</html>