<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <!-- <p>FOR USER MODEL USE: 
        <a href="">/recipe/:id</a> TO SHOW ONE RECIPE</p>
    <p>FOR RECIPE MODEL USE: 
        <a href="">/:id</a> TO SHOW ONE RECIPE</p> -->

    <h1><%= recipe.recipeName %></h1>
    <br/><br/>

    <section>
            <ul>
                <li>Recipe: <a href="#"><%= recipe.recipeName %></a></li>
            </ul>

        <a href="/recipe/:id">Edit Recipe</a>&nbsp&nbsp&nbsp
        <a href="/recipe/:id">Transfer Owner</a>&nbsp&nbsp
    </section><br/><br/><br/><br/>

    <a href="/recipe/new">Create A New Recipe</a>

    <!-- <a href="/recipes/:id">EDIT RECIPE</a>
    <a href="/recipes/:id">Transfer Owner</a> -->



</body>
<%- include('../partials/footer') %>
</html>