<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <!-- <p>FOR USER MODEL USE: 
        <a href="">/recipe/show.ejs</a> TO SHOW ONE RECIPE</p>

    <p>FOR RECIPE MODEL USE: 
        <a href="">/show.ejs</a> TO SHOW ONE RECIPE</p> -->
    
    <h1>Recipe</h1>
    <br/><br/>

    <section>
        <form action="/recipe" method="POST">
            Name:
            Quantity:
            Unit:
            Calories:
        </form>
        <a href="/recipe/:id">Edit Recipe</a>&nbsp&nbsp&nbsp
        <a href="/recipe/:id">Transfer Owner</a>&nbsp&nbsp
    </section><br/><br/><br/><br/>

    <a href="/recipe/new">Create A New Recipe</a>
    <!-- <a href="/recipes/:id">EDIT RECIPE</a>
    <a href="/recipes/:id">Transfer Owner</a> -->



</body>
<%- include('../partials/footer') %>
</html>